<extend name="Index:index"/>
<block name="title"><title>添加模型</title></block>
<block name="main">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">添加模型</h3>
	  </div>
	  <div class="panel-body">
	  	<form action="{:U('Model/insert')}" method="post" class="form-horizontal">
	  	  
	  	  <div class="form-group">
	  	    <label for="" class="col-sm-2 control-label">模型名称</label>
	  	    <div class="col-sm-8">
	  	      <input type="text" class="form-control" name="name" placeholder="请填写模型名称">
	  	    </div>
	  	  </div>
	  	  <div class="form-group">
	  	    <label for="" class="col-sm-2 control-label">附加表名</label>
	  	    <div class="col-sm-8">
	  	      <input type="text" class="form-control" name="tablename" placeholder="表名小写，去掉默认表前缀">
	  	    </div>
	  	  </div>

	  	  <div class="form-group">
	  	    <label for="" class="col-sm-2 control-label">列表模板</label>
	  	    <div class="col-sm-8">
	  	      <select class="form-control" name="template_list">
	  	      	<foreach name="styleListList" item="list">
	  	        <option value="{$list}">{$list}</option>
	  	        </foreach>
	  	      </select>
	  	    </div>
	  	  </div>
	  	  <div class="form-group">
	  	    <label for="" class="col-sm-2 control-label">内容页模板</label>
	  	    <div class="col-sm-8">
	  	      <select class="form-control" name="template_show">
	  	      	<foreach name="styleShowList" item="show">
	  	        <option value="{$show}">{$show}</option>
	  	        </foreach>
	  	      </select>
	  	    </div>
	  	  </div>

	  	  <div class="form-group">
	  	    <label for="" class="col-sm-2 control-label">模板描述</label>
	  	    <div class="col-sm-8">
	  	      <textarea name="description" class="form-control" rows="3"></textarea>
	  	    </div>
	  	  </div>

	  	  <div class="form-group">
	  	    <label for="" class="col-sm-2 control-label">模板状态</label>
	  	    <div class="col-sm-8">
	  	      <label class="radio-inline">
	  	        <input type="radio" name="status" id="inlineRadio1" value="1" checked> 启用
	  	      </label>
	  	      <label class="radio-inline">
	  	        <input type="radio" name="status" id="inlineRadio2" value="0"> 禁用
	  	      </label>
	  	    </div>
	  	  </div>

	  	  <div class="form-group">
	  	    <div class="col-sm-offset-2 col-sm-10">
	  	      <button type="submit" class="btn btn-primary">提交</button>
	  	      <button type="reset" class="btn btn-default">取消</button>
	  	    </div>
	  	  </div>
	  	</form>
	  </div>
	</div>
</block>