<extend name="Index:index"/>
<block name="title"><title>单页</title></block>
<block name="source">
	<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.css">
	<script src="__PUBLIC__/js/jquery-1.9.1.js"></script>
	<script src="__PUBLIC__/js/jquery.form.js"></script>
	<script src="__PUBLIC__/bootstrap/js/bootstrap.js"></script>
	<!-- Ueditor在线编辑器 -->
	<script src="__DATA__/ueditor/ueditor.config.js"></script>
	<script src="__DATA__/ueditor/ueditor.all.js"></script>
	
</block>
<block name="main">

	<div class="page-header">
		<ol class="breadcrumb">
		  <li><span class="glyphicon glyphicon-tasks"></span> {$page.name}</li>
		</ol>
	</div>
	
  	<form action="{:U('Page/doPage')}" method="post" id="" class="form-horizontal">
	  <input type="hidden" name="id" value="{$page.id}">
  	  <div class="form-group">
  	    <label for="" class="col-sm-1 control-label">摘要</label>
  	    <div class="col-sm-11">
  	      <textarea name="description" class="form-control" rows="4" wrap="soft" style="overflow-x:hidden">{$page.description}</textarea>
  	    </div>
  	  </div>

  	  <div class="form-group">
  	    <label for="" class="col-sm-1 control-label">内容</label>
  	    <div class="col-sm-11">
  	      <textarea name="content" id="content">{$page.content}</textarea>
  	      <script>
			var ue = UE.getEditor('content',{
				// toolbars: [
				//         ['fullscreen', 'source', 'undo', 'redo', 'bold']
				//     ],
				autoHeightEnabled: true,
				autoFloatEnabled: true
			});
  	      </script>
  	    </div>
  	  </div>

  	  <div class="form-group">
  	    <div class="col-sm-offset-1 col-sm-10">
  	      <button type="submit" class="btn btn-primary">提交</button>
  	      <button type="reset" class="btn btn-default">取消</button>
  	    </div>
  	  </div>

    </form>
    

</block>